#modal {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 10px;
    background: #d3d3d3;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    border: 2px dashed #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #d3d3d3, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #A9A9A9;
   font-weight: normal;
    position: fixed;
    width: 500px;
    height: 300px;
    top: 30%;
    left: 30%
    
}
.modal-text {
    font-size: 1.6em;
}

.customer {
    width: 200px;
    height: 20px;
}


#close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 3em;
