h1 {
    color: rebeccapurple;
    text-align: center
}
/* 
#heroimage {
    background-image: url("/Users/joe/Desktop/work_shop_photo.jpeg")
} */


li {
    display: inline;
    text-align: center;
    padding-left: 20px;
    color: red;
}


p {
    text-align: center;
    padding-top: 150px;
    color: white;
    font-size: 40px;
    
}

.random {
    background-image: url("work_shop_photo.jpeg");
    background-repeat: no-repeat;
    background-image: cover;
    background-size: 100%;
    height: 500px;
    
}

body {
    background-color: aqua;
}